:root{
    --dark01: #0F1319;
    --dark02: #1E2633;
    --dark03: #2D394C;
    --blue01: #3D4C66;
    --blue02: #4C5F7F;
    --blue03: #5B7299;
    --blue04: #6B85B2;
    --alpha: #00000000;
    --buttonBG: #1a385c;
    --buttonHover: #2d5e9b;
    --buttonActive: #142b47;
    --buttonFont: #aac5f3;
}

#upGradient{
    background: linear-gradient(0deg, var(--alpha) 1%, var(--dark02) 99%);
}

#downGradient{
    background: linear-gradient(180deg, var(--alpha) 1%, var(--dark02) 99%);
}

body{
    width: 1350px;
    max-width: 1350px;
    overflow-x: hidden;
    margin: 0 auto;

    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(75deg, black 1%, var(--dark01) 99%);
}
/* ----- Configurações de cabeçalho -----*/
header{
    position: fixed;
    top: 0;
    left: 0;

    background: var(--dark01);
    width: 250px;
    height: 100vh;

    border-right: 1px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;

    border-style: solid;
    border-color: var(--blue02);
}

.header-box{
    width: 100%;
    margin: 0 auto;
}

.header-box img{
    max-width: 150px;
}

.header-box h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    color: white;
}

.thisPage{
    background: linear-gradient(75deg, var(--dark02) 1%, var(--blue02) 99%);
    color: white;
}
/* Fim das configurações de cabeçalho*/

/* Navegação */

nav ul{
    padding: 0;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: gray;
}
nav li{
    list-style-type: none;
    padding: 10px 0;
    padding-left: 35px;
    padding-right: 35px;
}
nav li:hover{
    transition: 0.5s;
    background: linear-gradient(75deg, var(--dark01) 1%, var(--blue01) 99%);
    color: var(--blue04);
}

/* Fim da navegação*/

/* Main */
a{ /* Links */
    text-decoration: none;
}

main{
    background: linear-gradient(75deg, black 1%, var(--dark02) 99%);
    width: 1088px;
    margin-left: 252px;
}

.bannerBox{
    margin: 0 auto;
}

.bannerBox video{
    max-width: 1088px;
    overflow-x: hidden;
}

.mainBody{
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

.mainBody h2{
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

    border-style: solid;
    border-color: var(--blue02);

    padding: 55px;
    margin-top: -3px;
    margin-bottom: 5px;
    text-align: center;

    color: var(--blue04);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.soloTextBox{
    color: var(--blue04);

    display: inline-block;
    vertical-align: top;
    text-align: left;

    width: 1020px;
    border-radius: 5px;

    margin: 5px 0;
}

.soloTextBox h3{
    font-size: 20px;
    padding: 20px;
}

.soloTextBox p{
    padding: 10px 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.mainBody img{
    max-width: 1020px;
    margin: 20px 0;
}

/* Image box */
.imageBox{
    display: inline-block;
    width: 1020px;
    text-align: left;
    vertical-align: top;
}
.imageBox img{
    display: inline-block;
    max-width: 500px;
}

/* Text Box*/
.imageBox .textBox{
    color: var(--blue04);

    display: inline-block;
    vertical-align: top;

    width: 515px;
    max-width: 515px;
    height: 440px;
    max-height: 440px;

    border-radius: 5px;
}

.imageBox .textBox h3{
    font-size: 20px;
    padding: 20px;
}

.imageBox .textBox p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    font-size: 16px;
}
/* Fim do Text Box*/

/* Fim do Image Box */

.downloadButton{
    display: inline-block;

    padding: 20px;
    margin-top: 10px;

    background: var(--buttonBG);
    color: var(--buttonFont);

    font-size: 15px;
    width: 200px;

    border-radius: 5px;
    transition: 0.4s;
}

.downloadButton:hover{
    background: var(--buttonHover);
    transition: 0.2s;
}
.downloadButton:active{
    background: var(--buttonActive);
}

#catarse{
    display: none;
}

/* Fim do Main */

footer{
    background: var(--dark01);
    width: 1088px;
    margin-top: 5px;
    margin-left: 252px;
    color: var(--blue02);
}

footer p{
    padding: 40px;
    text-align: center;
}
