@media screen and (max-width: 1240px){

    body{
        width: 1024px;
        max-width: 1024px;
    }
    /* ----- Configurações de cabeçalho -----*/
    header{
        position: fixed;
        width: 100%;
        height: 50px;
    
        border-bottom: 1px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    
    .header-box{
        text-align: center;
        margin: 0 auto;
        width: 1024px;
    }
    
    .header-box img{
        max-width: 50px;
    }
    
    .header-box h1{
        text-align: left;
        display: inline-block;
        vertical-align: top;
    
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    /* Fim das configurações de cabeçalho*/
    
    /* Navegação */
    nav{
        display: inline-block;
    }
    nav ul{
        padding: 0;
        margin-top: 7px;
    }
    
    nav li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 0;
        padding-left: 35px;
        padding-right: 35px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    nav li:hover{
        background: linear-gradient(0deg, var(--dark01) 1%, var(--blue01) 99%);
    }
    
    .thisPage{
        background: linear-gradient(0deg, var(--dark02) 1%, var(--blue02) 99%);
        color: white;
    }
    /* Fim da navegação*/
    
    main{
        width: 1024px;
        margin-left: 0px;
        margin-top: 65px;
    }

    .bannerBox img{
        height: 355px;
    }

    /* Fim do Main */
    
    footer{
        width: 1024px;
        margin-top: 5px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 1040px){
    body{
        width: 800px;
        max-width: 800px;
    }

    .header-box{
        text-align: center;
        margin: 0 auto;
        width: 800px;
    }

    .header-box h1 {
        margin-right: 10px;
    }

    nav a{
        font-size: 15px;
    }

    main{
        width: 800px;
        margin-left: 0px;
        margin-top: 50px;
    }
    .bannerBox img{
        height: 278px;
    }

    .devCard{
        width: 780px;
    }
    .devCard .info{
        max-width: 515px;
        padding: 20px 0;
    }
    .devCard .buttons {
        display: block;
        margin: 2px 0;
    }
    .devCard .buttons button {
        display: inline-block;
        width: 251px;
        font-size: 16px;
    }

    .textBox {
        width: 780px;
    }
    .textParagraph {
        width: 720px;
    }
    .textParagraph .textParagraph {
        width: 660px;
    }
    .textParagraph .textParagraph p {
        width: 640px;
    }

    /* Fim do Main */
    
    footer{
        width: 800px;
        margin-top: 5px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 800px){
    body{
        width: 720px;
        max-width: 720px;
    }

    .header-box{
        text-align: center;
        margin: 0 auto;
        width: 720px;
    }

    .header-box h1 {
        display: none;
    }

    nav li {
        padding-left: 30px;
        padding-right: 30px;
    }

    main{
        width: 720px;
        margin-left: 0px;
        margin-top: 50px;
    }
    .bannerBox img{
        height: 250px;
    }

    .devCard{
        width: 700px;
    }
    .devCard .info{
        max-width: 435px;
        padding: 17px 0;
    }
    .devCard .buttons {
        display: block;
        margin: 2px 0;
    }
    .devCard .buttons button {
        width: 224px;
        font-size: 15px;
    }

    .textBox {
        width: 700px;
    }
    .textParagraph {
        width: 640px;
    }
    .textParagraph .textParagraph {
        width: 580px;
    }
    .textParagraph .textParagraph p {
        width: 560px;
    }

    footer{
        width: 720px;
        margin-top: 5px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 720px){
    body{
        width: 640px;
        max-width: 640px;
    }

    .header-box{
        width: 640px;
    }

    nav li {
        padding-left: 20px;
        padding-right: 20px;
    }

    main{
        width: 640px;
    }
    .bannerBox img{
        height: 222px;
    }


    .devCard{
        width: 620px;
    }
    .devCard .info {
        max-width: 355px;
        padding: 0px 0;
    }
    .devCard .buttons {
        display: block;
        margin: 2px 0;
    }
    .devCard .buttons button {
        width: 197px;
        font-size: 12px;
    }

    .textBox {
        width: 620px;
    }
    .textBox h3 {
        font-size: 16px;
    }
    .textParagraph {
        width: 560px;
    }
    .textParagraph .textParagraph {
        width: 500px;
    }
    .textParagraph .textParagraph p {
        width: 480px;
    }


    footer{
        width: 640px;
    }
}
@media screen and (max-width: 640px){
    body{
        width: 320px;
        max-width: 320px;
    }

    .header-box{
        width: 320px;
    }

    nav li {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }

    main{
        width: 320px;
    }
    .bannerBox{
        display: none;
    }
    .mainBody h2{
        font-size: 16px;
    }

    .devCard {
        width: 300px;
        text-align: center;
    }
    .devCard img {
        max-width: 250px;
        margin-top: 25px;
    }

    .devCard .info{
        text-align: left;
    }

    .devCard .buttons {
        margin: 10px 0;
    }

    .textBox {
        width: 300px;
        margin-top: 10px;
    }

    .textParagraph{
        margin: 5px 10px;
        width: 280px;
    }
    .textParagraph p {
        width: 200px;
    }
    .textParagraph .textParagraph {
        width: 245px;
    }

    .textParagraph .textParagraph p {
        width: 190px;
    }

    .linksButton{
        display: none;
    }
    #hiddenButtons{
        display: block;
    }
    
    footer{
        width: 320px;
    }

    footer p{
        font-size: 12px;
    }
}
